.sidebarArea {
   flex-shrink: 0;
   width: $sidebarWidth;
  background-size: cover;
 
  text-shadow: "0px 0px 1px whitesmoke" ;
  font-family: 'Lato, sans-serif';
    .sidenav-bg:hover {
    border-radius: $border-radius;
  }
}

@include media-breakpoint-down(lg) {
  .sidebarArea {
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 5;
    transition: 0.2s ease-in;
    &.showSidebar {
      margin-left: 0px;
    }
  }
}
