
   #hd{
    /* text-align: center; */
    color: rgb(15, 48, 92);
    font-size:40px;
    margin-bottom:10px;
    /* text-align: center; */
   }
   #container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .dropdown{
    margin-right: 10px;
  }
  
  .response-time-container {
    display: flex;
    align-items: center;
  }
  
  .response-time-indicator {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .response-time-red,
  .response-time-yellow {
    margin-left: 8px;
  }
  
  .table {
    width: 100%;
  }
  
  .tableContainer {
    max-height: 440px;
  }
  
  .tableHead {
    background-color: #f1f1f1;
  }
  
  .tableCell {
    border: 1px solid #ddd;
  }
  
  .tableRow {
    background-color: #fff;
  }
  
  #responsecol {
    text-align: center;
  }
  
  .sort-indicator {
    display: inline-block;
    margin-left: 5px;
  }
  
  .sort-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  
  .red-circle {
    background-color: red;
  }
  
  .yellow-circle {
    background-color: yellow;
  }
  
  .clear-search-btn{
    padding: 13px;
    margin-left: 10px;
    border-radius: 10%;
    background-color: white;
    border-color: rgb(29, 29, 241);
}

.icon{
  margin-left: 85px;
}

  @media (max-width: 600px) {
    #container {
      flex-direction: column;
      align-items: flex-start;
      
    }
    .tableHead{
      z-index:-5;
    }
    #topRow{
      z-index: -5;
    }
    .tableCell{
      z-index:-5;
    }
    .response-time-container {
      margin-top: 10px;
    }
  }
  .tableCell:hover{
    background-color: lightgray;
  }