h1{
    text-align: center;
    color: rgb(15, 48, 92);
}
.table{
    margin-top:10px;
}
.dropdown{
   margin-right:10px !important;
}

.controls-container {
    display: flex;
    align-items: center;
  }
  
  .dropdown-container, .searchbar-container {
    margin-right: 10px;
  }
  
  .edit-button-container {
    margin-left: auto;
  }
  