/* .myprofile{
    text-decoration: none;
    color:black;
}
.nav-link{
    font-weight: bold;
    color: white;
}
 */
 .myaccount{
    text-decoration: none;
    color:blue;
}
.myprofile{
    text-decoration: none;
    color:blue;
}
.loginform{
    text-decoration: none;
    color:blue;
}
.nav-link{
    font-weight: bold;
}