
   /* .status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .status-dot.selected {
    background-color: green;
  }
  
  .status-dot.rejected {
    background-color: red;
  }
  
  .status-dot.pending {
    background-color: yellow;
  }
  
  .status-dot.on-hold {
    background-color: orange;
  }
  .pie-chart {
    width: 100%; 
    height: auto; 
    max-width: 300px; 
  } */
  
   
   .status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.status-dot.selected {
  background-color: green;
}

.status-dot.rejected {
  background-color: red;
}

.status-dot.pending {
  background-color: yellow;
}

.status-dot.on-hold {
  background-color: orange;
}

.pie-chart {
  width: 100%;
  height: auto;
  max-width: 300px;
}

#uppercon {
    max-width: 1020px; 
    /* margin-left: 30px;  */
    overflow:hidden;
  }
  .search{
    width:150px;
  }
  .tablerow:hover{
    background-color: lightgray;
  }
 #delbtn:hover{
  background-color: red;
  color:white
 }
 
<<<<<<< HEAD
.dropdown{
  width:120px;
  
}
.searchip{
  /* padding-top:10px; */
  width:180px;
  
}
=======
  .top-table{

    margin-bottom: 60px;
  }

 
 
>>>>>>> 16d0dd9192af9623efdfbb1157d9ae3383be84e8
