/* /* .status-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  
  .status-dot.selected {
    background-color: green;
  }
  
  .status-dot.rejected {
    background-color: red;
  }
  
  .status-dot.pending {
    background-color: yellow;
  }
  
  .status-dot.on-hold {
    background-color: orange;
  }
   */

   .status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .status-dot.selected {
    background-color: green;
  }
  
  .status-dot.rejected {
    background-color: red;
  }
  
  .status-dot.pending {
    background-color: yellow;
  }
  
  .status-dot.on-hold {
    background-color: orange;
  }
  .pie-chart {
    width: 100%; 
    height: auto; 
    max-width: 300px; 
  }
  
   */
   .status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.status-dot.selected {
  background-color: green;
}

.status-dot.rejected {
  background-color: red;
}

.status-dot.pending {
  background-color: yellow;
}

.status-dot.on-hold {
  background-color: orange;
}

.pie-chart {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.container {
    max-width: 800px; 
    margin: auto; 
    overflow-x: hidden;
  }
 
