 
  .status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.status-dot.selected {
  background-color: green;
}

.status-dot.rejected {
  background-color: red;
}

.status-dot.pending {
  background-color: yellow;
}

.status-dot.onhold{
  background-color: orange;
}

.pie-chart {
  width: 100%;
  height: auto;
  max-width: 300px;
}

#uppercon {
    max-width: 1020px; 
    /* margin-left: 30px;  */
    overflow:hidden;
    padding-top:10px;
  }
  .search{
    width:150px;
  }
  .tablerow:hover{
    background-color: lightgray;
  }
 #delbtn:hover{
  background-color: #E62020;
  color:white
 }

.dropdown{
  width:120px;
  
}
.searchip{
  /* padding-top:10px; */
  width:180px;
  
}
.top-table{

    margin-bottom: 60px;
  }
  #addbtn:hover{
    background:green;
    color:white
  }

 
