#hd{
    color: rgb(15, 48, 92);
    font-size:40px;
    margin-bottom:40px;
}

.clear-search-btn{
    padding: 13px;
    margin-left: 10px;
    border-radius: 10%;
    background-color: white;
    border-color: rgb(29, 29, 241);
}