#hd{
    text-align: center;
    color: rgb(15, 48, 92);
}

.dropdown{
    width:120px !important;
    margin-right:20px;
}
.table{
    margin-top:10px;
}
.tr:hover{
    background-color: lightgray;
}

