<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/project_tables</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Compacta@12</property>
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <!-- Automatically create/update database schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Annotated entity classes -->
        <!-- Add more entity classes as needed -->
        <mapping class="com.accolite.entities.SubmissionToClient"/>
        <mapping class="com.accolite.entities.Candidate"/>
        <mapping class="com.accolite.entities.Client"/>
        <mapping class="com.accolite.entities.Users"/>
        <mapping class="com.accolite.entities.CandidateSkill"/>
    </session-factory>
</hibernate-configuration>